body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #6b91c2;
}

.container {
  width: 90%;
  max-width: 1000px;
  margin: 30px auto;
}

h1, h2 {
  text-align: center;
  color: #222;
}

.form {
  display: grid;
  gap: 12px;
  background: rgb(19, 27, 74);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.form input {
  padding: 12px;
  border: 1px solid #fcfbfb;
  border-radius: 6px;
}

.form button {
  padding: 12px;
  background: #46678b;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.form button:hover {
  background: #005ecc;
}

.message {
  text-align: center;
  color: green;
  font-weight: bold;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

table th,
table td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: center;
}

table th {
  background: #0077ff;
  color: white;
}